.cell {
  border: 1px solid black;
  width: var(--mantine-gridSizing-gridCell);
  max-width: var(--mantine-gridSizing-gridCell);
  height: var(--mantine-gridSizing-gridCell);
  user-select: none;
}

.topLeft {
  border-width: 4px 1px 1px 4px;
  border-color: black;
  border-style: solid;
}

.top {
  border-width: 4px 1px 1px 1px;
  border-color: black;
  border-style: solid;
}

.topRight {
  border-width: 4px 4px 1px 1px;
  border-color: black;
  border-style: solid;
}

.centerLeft {
  border-width: 1px 1px 1px 4px;
  border-color: black;
  border-style: solid;
}

.centerRight {
  border-width: 1px 4px 1px 1px;
  border-color: black;
  border-style: solid;
}

.bottomLeft {
  border-width: 1px 1px 4px 4px;
  border-color: black;
  border-style: solid;
}

.bottom {
  border-width: 1px 1px 4px 1px;
  border-color: black;
  border-style: solid;
}

.bottomRight {
  border-width: 1px 4px 4px 1px;
  border-color: black;
  border-style: solid;
}
