.colLabel {
  width: var(--mantine-gridSizing-gridCell);
  height: var(--mantine-gridSizing-gridCell);
  text-align: center;
  white-space: nowrap;
  transform: rotate(-45deg);
  padding: 1.5rem 0 0 0.5rem;
}

.rowLabel {
  height: var(--mantine-gridSizing-gridCell);
  width: var(--mantine-gridSizing-gridCell);
}
